# Node/npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp

# Build outputs
/dist
/build
.out
.next
.cache
coverage/
